body {
    margin-top: 24px;
    font-family: Geneva, Arial, Helvetica, sans-serif;
}

.heading, .subheading {
    text-align: center;
}

.heading {
    font-size: 18pt;
}

.subheading {
    font-size: 16pt;
}

.navigation {  
    font-size: 13pt;
    text-align: left;   
} 

#info {
    position: absolute; left: 24px; top: 220px;
    background-color: silver; width: 300px; 
    text-align: left;
    font-size: 12px;
}

#landscape {
    position: absolute; left: 480px; top: 220px;
}

#portrait {
    position: absolute; left: 24px; top: 300px;
}   

#featuretext {
    position: absolute; left: 250px; top: 424px;   
    width:540px;
    font-family: Geneva, Arial, Helvetica, sans-serif;    
    font-size: 14px;    
    color: #000000;    
    text-align: left;
}

#rooms {
    position: absolute; left: 280px; top: 640px;
    background-color: silver; 
    font-family: Geneva, Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-align: left;
}

#accentimages {
    position: absolute; left: 24px; top: 750px;
}        

.footer {
    position: absolute; left: 24px; top: 980px;
    font-size: 12px;
    color: #000000;
}            